.odds {
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odds.big {
    font-size: 24px;
}

#blue {
    font-size: 36px;
    color: blue;
}

#green {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
